<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main>
    <article>
        <h2>About Us</h2>
        <img src="/path/to/about-image.jpg" alt="About Us" style="max-width: 100px; height: auto">
        <div>
            <p>Here at [Company Name], we strive to deliver the best experience for our customers...</p>
            <!-- Add more content about your company here -->
        </div>
    </article>
</main>

<%- include('partials/footer') %>
